@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*Type of data being passed to this view from the viewcomponent*@
@model IEnumerable<Teams>
<!--Route for getting back to home page with all bowlers displayed-->
<a class="btn btn-block @(ViewBag.SelectedTeam == null ?  "btn-primary" : "btn-outline-secondary")" asp-action="Index" asp-controller="Home" asp-route-teamnameid="">Home</a>

@foreach (var x in Model)
{
    //Asp-route- = puts argument in the url as a way to pass data, to be used for filtering in controller and endpoints
    <a class="btn btn-block @(x.TeamName == ViewBag.SelectedTeam ?  "btn-primary" : "btn-outline-secondary")" asp-action="Index" asp-controller="Home" asp-route-teamnameid="@x.TeamId" asp-route-teamname="@x.TeamName">@x.TeamName</a>
}

<!--
    <a class="btn btn-block @@(category == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home"
       asp-route-category="@@category"
       asp-route-pageNum="1">

        @@category
    </a>
-->
